<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Custom fonts for this template -->
    <link
      href="../static/vendor/fontawesome-free/css/all.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />

    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu"
      rel="stylesheet"
    />

    <title>Darribny</title>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'success' %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %} {% if category == 'error' %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
        <!-- Navigation -->
        <nav
          class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark"
        >
          <a class="navbar-brand text-white" href="{{ url_for('core.index') }}"
            >Darribny</a
          >

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ul-nav">
              <!-- <li class="nav-item my-auto">
                  <a class="nav-link text-light" href="{{ url_for('core.info') }}"
                    >About</a
                  >
                </li> -->

              {% if current_user.is_authenticated %}

              {% if current_user.role == 'trainee' %}
              <li class="nav-item dropdown my-auto">
                <a
                  class="nav-link dropdown-toggle text-light"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{current_user.first_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a
                    class="dropdown-item text-dark"
                    href="{{ url_for('users.dashboard') }}"
                    >Dashboard</a
                  >
                  <!-- <a class="dropdown-item text-dark" href="#">Profile</a> -->
                  <a
                    class="dropdown-item text-dark"
                    href="{{ url_for('users.account') }}"
                    >Account</a
                  >
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item text-dark"
                    href="{{ url_for('users.logout') }}"
                    >Logout</a
                  >
                </div>
              </li>
                
              {% else %}
              <li class="nav-item dropdown my-auto">
                <a
                  class="nav-link dropdown-toggle text-light"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{current_user.first_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a
                    class="dropdown-item text-dark"
                    href="{{ url_for('users.dashboard_trainer') }}"
                    >Dashboard</a
                  >
                  <!-- <a class="dropdown-item text-dark" href="#">Profile</a> -->
                  <a
                    class="dropdown-item text-dark"
                    href="{{ url_for('users.account_trainer') }}"
                    >Account</a
                  >
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item text-dark"
                    href="{{ url_for('users.logout') }}"
                    >Logout</a
                  >
                </div>
              </li>
              {% endif %}

              {% else %}
              <li class="nav-item my-auto">
                <a
                  class="btn btn-outline-warning"
                  href="{{ url_for('users.login_trainer') }}"
                  >Log In as a Trainer</a
                >
              </li>
              <li class="nav-item my-auto">
                <a
                  class="btn btn-outline-warning"
                  href="{{ url_for('users.login') }}"
                  >Log In</a
                >
              </li>
              <li class="nav-item my-auto">
                <a
                  class="btn btn-warning text-light-60"
                  href="{{ url_for('users.register') }}"
                  >Get Started</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>

        {% block content %} {% endblock content %}
      </div>

      <!-- Footer -->
      <footer id="footer" class="footer bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a class="text-light" href="#">About</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a class="text-light" href="#">Contact</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a class="text-light" href="#">Terms of Use</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a class="text-light" href="#">Privacy Policy</a>
                </li>
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">
                &copy; Darribny 2020. All Rights Reserved.
              </p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-facebook fa-2x fa-fw text-light"></i>
                  </a>
                </li>
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-twitter-square fa-2x fa-fw text-light"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-instagram fa-2x fa-fw text-light"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <script src="../static/js/script.js"></script>

  </body>
</html>
