{% extends 'base.html' %} {% block content %} {% from "_render_field.html"
import render_field %}
<div class="row mt-3 mb-3">
    <div class="col-sm-3 col-md-2 col-lg-3"></div>
    <div class="col-sm-6 col-md-8 col-lg-6">
        <div class="card mt-5 mb-5">
            <div class="card-header font-weight-bolder bg-dark text-light h4">
                <a
                        href="{{ url_for('users.user', user_id=trainer.id) }}"
                        class="text-decoration-none h4 text-warning"
                ><i class="icon-arrow-left-circle align-middle float-left"></i
                ></a>
                Book An Appointment
            </div>
            <form method="POST" action="" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="dtp_input1" class="col-md-2 control-label"></label>
                        <div class="input-group date form_datetime col-md-12" data-date="1979-09-16T05:25:07Z"
                             data-date-format="dd MM yyyy HH:ii p" data-link-field="dtp_input1">
                            <input name="dtp_input1" class="form-control" size="16" type="text" value="">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input1" value=""/><br/>
                        <button type="submit" class="btn btn-warning">Book a Session!</button>
                    </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3 col-md-2 col-lg-3"></div>
</div>

<!-- Datetime picker script -->
<script type="text/javascript" src="../static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
var today = new Date();
var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();

    $('.form_datetime').datetimepicker({
        language:  'en',
        weekStart: 0,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 1,
		forceParse: 0,
        showMeridian: 1,
        startDate: date,
    });

</script>


{% endblock content %}
