{% extends 'base.html' %} {% block content %}
<div class="container-fluid bg-light my-container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-left mb-3">
        <div class="card-header font-weight-bolder bg-dark text-light">
          Profile Info
        </div>
        <div class="row">
          <div class="col-9">
            <img
              src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}"
              class="card-img-top rounded-circle profile-pic border border-warning mt-1 ml-1"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                {{current_user.first_name}} {{current_user.last_name}}
              </h5>
              <p class="card-text">
                {% if current_user.bio %} {{ current_user.bio }} {% endif %}
              </p>
              {% if current_user.sports %}
              <p class="card-text">
                {% for sport in current_user.sports %}
                <span class="badge badge-pill badge-warning">{{ sport }}</span>
                {% endfor %}
              </p>
              {% endif %}
            </div>
          </div>

          <div class="col-3">
            <div class="card-body text-right">
              <a
                href="{{ url_for('users.account') }}"
                class="card-link text-decoration-none h4"
                ><i class="icon-settings text-warning"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      {% if reservations %}
      <div class="card mx-auto d-block text-left mb-3">
        <div class="card-header font-weight-bolder bg-dark text-light">
          Upcoming Reservations
        </div>
        <div class="row">
          {% for reservation in reservations %}
          <div class="col-md-6 col-sm-12">
            <div class="card mx-auto d-block text-left w-100">
              <div class="card-body">
                <h5 class="card-title">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="icon-user mr-3 text-warning h6"></i>
                      {% if current_user.role=='trainee' %} {{
                      reservation.trainer_first_name }} {{
                      reservation.trainer_last_name }} {% endif %} {% if
                      current_user.role=='trainer' %} {{
                      reservation.trainee.first_name }} {{
                      reservation.trainee.last_name }} {% endif %}
                    </li>
                    <li class="list-group-item">
                      <i class="icon-location-pin mr-3 text-warning h6"></i>
                      {{ reservation.location }}
                    </li>
                    <li class="list-group-item">
                      <i class="icon-event mr-3 text-warning h6"></i>
                      {{ reservation.start_time.strftime('%d-%m-%Y') }}
                    </li>
                    <li class="list-group-item">
                      <i class="icon-clock mr-3 text-warning h6"></i>
                      {{ reservation.start_time.strftime('%H:%M') }}
                    </li>
                    {% if reservation.status == 'pending' %}
                    <li class="list-group-item">
                      <span class="badge badge-pill badge-secondary"
                        >{{ reservation.status }}</span
                      >
                    </li>
                    {% endif %} {% if reservation.status == 'declined' %}
                    <li class="list-group-item">
                      <span class="badge badge-pill badge-danger"
                        >{{ reservation.status }}</span
                      >
                    </li>
                    {% endif %} {% if reservation.status == 'confirmed' %}
                    <li class="list-group-item">
                      <span class="badge badge-pill badge-success"
                        >{{ reservation.status }}</span
                      >
                    </li>
                    {% endif %}
                  </ul>
                </h5>
                <a
                  href="{{ url_for('reservations.reservation', reservation_id=reservation.id) }}"
                  class="btn btn-warning"
                  >View details</a
                >
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %} {% if current_user.role == 'trainee' %} {% if trainers %}
      <div class="card mx-auto d-block text-left">
        <div class="card-header font-weight-bolder bg-dark text-light">
          Trainer Matches
        </div>
        <div class="row">
          {% for trainer in trainers %}
          <div class="col-md-6 col-sm-12">
            <div class="card mx-auto d-block text-left w-100">
              <img
                src="{{ url_for('static', filename='profile_pics/' + trainer.profile_image) }}"
                class="card-img-top rounded-circle profile-pic border border-warning mt-1 ml-1"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">
                  {{ trainer.first_name }} {{ trainer.last_name }}
                </h5>
                <p class="card-text">
                  {% if trainer.bio %} {{ trainer.bio }} {% endif %}
                </p>
                <a
                  href="{{ url_for('users.user', user_id=trainer.id) }}"
                  class="btn btn-warning"
                  >View Profile</a
                >
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="card mx-auto d-block text-left">
        <div class="card-header font-weight-bolder bg-dark text-light">
          We did not find any trainer that matches your profile :(
        </div>
      </div>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
