{% extends 'base.html' %} {% block content %}
<div class="container-fluid bg-light my-container">
  <div class="row">
    <div class="col-xl-4">
      <div class="card text-left mb-3">
        <div class="card-header font-weight-bolder bg-dark text-light">
          Profile Info
        </div>
        <div class="row">
          <div class="col-sm-8">
            <img
              src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}"
              class="card-img-top rounded-circle profile-pic border border-warning mt-1 ml-1"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                {{current_user.first_name}} {{current_user.last_name}}
              </h5>
              <p class="card-text">@{{current_user.username}}</p>
              <p class="card-text">
                {% if current_user.bio %} {{ current_user.bio }} {% endif %}
              </p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card-body">
              <a
                href="{{ url_for('users.account') }}"
                class="card-link btn btn-sm btn-outline-warning"
                >Account Settings</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      {% if reservations %}
      <div class="card mx-auto d-block text-left mb-3">
        <div class="card-header font-weight-bolder bg-dark text-light">
          Upcoming Reservations
        </div>
        <div class="row">
          {% for reservation in reservations %}
          <div class="col-md-6 col-sm-12">
            <div class="card mx-auto d-block text-left w-100">
              <div class="card-body">
                <h5 class="card-title">
                  {{ reservation.location }} {{ reservation.start_time }}
                </h5>
                <p class="card-text"></p>
                <p class="card-text"></p>
                <a href="#" class="btn btn-warning">View details</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %} {% if current_user.role == 'trainee' %}
      <div class="card mx-auto d-block text-left">
        <div class="card-header font-weight-bolder bg-dark text-light">
          Trainer Matches
        </div>
        <div class="row">
          {% for trainer in trainers %}
          <div class="col-md-6 col-sm-12">
            <div class="card mx-auto d-block text-left w-100">
              <img
                src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}"
                class="card-img-top rounded-circle profile-pic border border-warning mt-1 ml-1"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">
                  {{ trainer.first_name }} {{ trainer.last_name }}
                </h5>
                <p class="card-text">@{{ trainer.username }}</p>
                <p class="card-text">
                  {% if trainer.bio %} {{ trainer.bio }} {% endif %}
                </p>
                <a
                  href="{{ url_for('users.trainer', trainer_id=trainer.id) }}"
                  class="btn btn-warning"
                  >View Profile</a
                >
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- <div class="card-body text-left">
          <a href="#" class="card-link text-warning"
            >View all trainer matches</a
          >
        </div> -->
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
