{% extends 'base.html' %} 
{% block content %}
{% from "_render_field.html" import render_field %}

<div class="container login-container">

    <form method="POST">
        {{form.hidden_tag()}}

        <div class="form-group">
            {{ render_field(form.email) }}
        </div>

        <div class="form-group">
            {{ render_field(form.password) }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-warning btn-lg") }}
        </div>    
    </form>
</div>
{% endblock content %}