{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-left">
    <div class="card mt-3 mb-3">
      {% if user.role == 'trainer' %}
      <div class="card-header font-weight-bolder bg-dark text-light">
        <a
          href="{{ url_for('users.dashboard') }}"
          class=""
          style="text-decoration: none"
          ><i class="icon-arrow-left-circle mr-3 text-warning h5"></i
        ></a>
        Trainer Profile
      </div>
      {% endif %}
      {% if user.role == 'trainee' %}
      <div class="card-header font-weight-bolder bg-dark text-light">
        <a
          href="{{ url_for('users.dashboard') }}"
          class=""
          style="text-decoration: none"
          ><i class="icon-arrow-left-circle mr-3 text-warning h5"></i
        ></a>
        Trainee Profile
      </div>
      {% endif %}
      <img
        src="{{ url_for('static', filename='profile_pics/' + user.profile_image) }}"
        class="card-img-top rounded-circle profile-pic border border-warning m-md-3 profile-image"
        alt="..."
      />

      <script type="text/javascript">
        function file_exists(url) {
            var http = new XMLHttpRequest();
            http.open('HEAD', url, false);
            http.send();
            return http.status != 404;
          }
          var path = "static/profile_pics/";
          var picName = {{ user.profile_image | tojson }};
          var exist = file_exists(path+picName);

          var profileImages = document.getElementsByClassName("profile-image");
          for (var i = 0; i < profileImages.length; i++) {
            if (exist == false) {
              profileImages[i].src = "../static/profile_pics/default_profile.png";
            }
          }
      </script>

      <div class="card-body" id="summary">
        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
        <p class="card-text collapse text-justify" id="collapseSummary">{{ user.bio }}</p>
        <a
        class="collapsed text-warning"
        data-toggle="collapse"
        href="#collapseSummary"
        aria-expanded="false"
        aria-controls="collapseSummary"
      ></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="icon-screen-smartphone mr-3 text-warning h6"></i>
          {{ user.mobile }}
        </li>
        <li class="list-group-item">
          <i class="icon-location-pin mr-3 text-warning h6"></i>
          {{ user.city }}
        </li>
        <li class="list-group-item">
          <i class="icon-user mr-3 text-warning h6"></i>
          {{ user.gender }}
        </li>
        <li class="list-group-item">
          <i class="icon-calendar mr-3 text-warning h6"></i>
          {{ user.birthdate.strftime('%d-%m-%Y') }}
        </li>
        <li class="list-group-item">
          <i class="icon-energy mr-3 text-warning h6"></i>
          {% if user.sports %}
          {% for sport in user.sports %}
          <span class="badge badge-pill badge-warning">{{ sport }}</span>
          {% endfor %}
          {% endif %}
        </li>
        {% if user.role == 'trainer' %}
        <li class="list-group-item">
          <i class="icon-wallet mr-3 text-warning h6"></i>
          {{ user.price }} SAR Per Session
        </li>
        {% endif %}
      </ul>
      {% if current_user.role == 'trainee' %}
      <div class="card-body text-left">
        <a
          href="{{ url_for('reservations.create', trainer_id=user.id) }}"
          class="btn btn-lg btn-warning"
          >Book Now!</a
        >
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div id="summary">
        <p class="collapse" id="collapseSummary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          porttitor maximus laoreet. Pellentesque habitant morbi tristique
          senectus et netus et malesuada fames ac turpis egestas. In hac
          habitasse platea dictumst. Suspendisse venenatis sollicitudin erat in
          gravida. Sed eget nisl tristique, commodo lectus sit amet, vulputate
          sem. Cras porttitor lorem ipsum, sit amet iaculis massa feugiat vitae.
          Curabitur sapien odio, ullamcorper tincidunt interdum vitae,
          vestibulum eu neque. Nam leo massa, fringilla eget mauris feugiat,
          auctor suscipit justo.
        </p>
        <a
          class="collapsed"
          data-toggle="collapse"
          href="#collapseSummary"
          aria-expanded="false"
          aria-controls="collapseSummary"
        ></a>
      </div>
    </div>
  </div> -->
{% endblock content %}
