{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-left">
    <div class="card mt-3 mb-3">
      <div class="card-header font-weight-bolder bg-dark text-light">
        <a
          href="{{ url_for('users.dashboard') }}"
          class=""
          style="text-decoration: none"
          ><i class="icon-arrow-left-circle mr-3 text-warning h5"></i
        ></a>
        Reservation Details
      </div>
      <div class="card-body">
        <h5 class="card-title">
          With <a href="{{ url_for('users.trainer', trainer_id=trainer.id) }}" class="text-warning"> {{ trainer.first_name }} {{ trainer.last_name }} </a>
        </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="icon-location-pin mr-3 text-warning h6"></i>
          {{ reservation.location }}
        </li>
        <li class="list-group-item">
          <i class="icon-calendar mr-3 text-warning h6"></i>
          {{ reservation.start_time }}
        </li>
        <form action="{{ url_for('reservations.delete_reservation', reservation_id=reservation.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
      </ul>
    </div>

  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock content %}
