{% extends 'base.html' %} {% block content %}
<div class="row mt-5 mb-5">
  <div class="col-sm-3 col-md-2"></div>
  <div class="col-sm-6 col-md-8 text-left">
    <div class="card mt-3 mb-3">
      <div class="card-header font-weight-bolder bg-dark text-light">
        <a
          href="{{ url_for('users.dashboard') }}"
          class=""
          style="text-decoration: none"
          ><i class="icon-arrow-left-circle mr-3 text-warning h5"></i
        ></a>
        Reservation Details
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="icon-user mr-3 text-warning h6"></i>
          {% if current_user.role=='trainee' %}
          <a
            href="{{ url_for('users.user', user_id=trainer.id) }}"
            class="text-warning"
          >
            {{ trainer.first_name }} {{ trainer.last_name }}
          </a>
          {% endif %} {% if current_user.role=='trainer' %}
          <a
            href="{{ url_for('users.user', user_id=trainee.id) }}"
            class="text-warning"
          >
            {{ trainee.first_name }} {{ trainee.last_name }}
          </a>
          {% endif %}
        </li>
        <li class="list-group-item">
          <i class="icon-location-pin mr-3 text-warning h6"></i>
          {{ reservation.location }}
        </li>
        <li class="list-group-item">
          <i class="icon-event mr-3 text-warning h6"></i>
          {{ reservation.start_time.strftime('%d-%m-%Y') }}
        </li>
        <li class="list-group-item">
          <i class="icon-clock mr-3 text-warning h6"></i>
          {{ reservation.start_time.strftime('%H:%M') }}
        </li>
        {% if reservation.status == 'pending' %}
        <li class="list-group-item">
          <span class="badge badge-pill badge-secondary"
            >{{ reservation.status }}</span
          >
        </li>
        {% endif %}
        {% if reservation.status == 'declined' %}
        <li class="list-group-item">
          <span class="badge badge-pill badge-danger"
            >{{ reservation.status }}</span
          >
        </li>
        {% endif %}
        {% if reservation.status == 'confirmed' %}
        <li class="list-group-item">
          <span class="badge badge-pill badge-success"
            >{{ reservation.status }}</span
          >
        </li>
        {% endif %}
        {% if reservation.status == 'pending' %}
        {% if current_user.role == 'trainer' %}
        <li class="list-group-item">
          <form method="POST" class="mt-3 p-3">
            <div class="form-row">
              <div class="form-group col-6">
                <button name="status" type="submit" value="confirmed" class="btn btn-success btn-lg">Accept</button>
              </div>
              <div class="form-group col-6">
                <button name="status" type="submit" value="declined" class="btn btn-danger btn-lg">Decline</button>
              </div>
            </div>
          </form>
        </li>
        {% endif %}
        {% endif %}
         {% if current_user.role == 'trainee' %}
        <li class="list-group-item">
          <form
            action="{{ url_for('reservations.delete_reservation', reservation_id=reservation.id) }}"
            method="POST"
          >
            <input class="btn btn-danger" type="submit" value="Delete" />
          </form>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-sm-3 col-md-2"></div>
</div>
{% endblock content %}
