{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-left">
    <div class="card mt-3 mb-3">
      <div class="card-header font-weight-bolder bg-dark text-light">

        <a
        href="{{ url_for('users.dashboard') }}"
        class=""
        style="text-decoration: none;"
        ><i class="icon-arrow-left-circle mr-3 text-warning h5"></i
          ></a
      >
        Trainer Profile
      </div>
      <img
        src="{{ url_for('static', filename='profile_pics/' + profile_image) }}"
        class="card-img-top rounded-circle profile-pic border border-warning m-md-3"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ first_name }} {{ last_name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img
            class="icon-sm mr-2"
            src="../static/icons/smartphone.svg"
            alt=""
          />
          {{ mobile }}
        </li>
        <li class="list-group-item">
          <img class="icon-sm mr-2" src="../static/icons/pin.svg" alt="" /> {{
          city }}
        </li>
        <li class="list-group-item">
          <img class="icon-sm mr-2" src="../static/icons/gender.svg" alt="" />
          {{ gender }}
        </li>
        <li class="list-group-item">
          <img
            class="icon-sm mr-2"
            src="../static/icons/birthday-cake.svg"
            alt=""
          />
          {{ birthdate.strftime('%d-%m-%Y') }}
        </li>
      </ul>
      <div class="card-body text-left">
        <a href="" class="btn btn-lg btn-warning">Book Now!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock content %}
