{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
      <h1 >Welcome to the page for {{trainee.username}}</h1>
      <img src="{{ url_for('static', filename='profile_pics/' + user.profile_image) }}">
  </div>


    {% for reservation in reservations.items %}

    <h2><a href="{{ url_for('reservations.reservation', reservation_id=reservation.id) }}">{{ reservation.date }}</a></h2>
    Written by: <a href="{{ url_for('trainees.trainee_reservations', username=reservation.trainee.username) }}">{{ reservation.trainee.username }}</a>
    <p class="text-muted">Published on: {{ reservation.date.strftime('%Y-%m-%d') }}</p>
    <br>
    <p>{{reservation.start_time}}</p>
    <br>

    {% endfor %}


</div>

<!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {# http://flask.pocoo.org/snippets/44/ #}

    {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if blog_posts.page == page_num %}
              <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a></li>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
    {% endfor %}
</nav> -->
{% endblock content %}
